.hero.is-primary {
    background-color: #0011ae;
}
.hero.is-primary .navbar-link.is-active, .hero.is-primary .navbar-link:hover, .hero.is-primary a.navbar-item.is-active, .hero.is-primary a.navbar-item:hover {
    background-color: #0011ae;
}
.card-content a h3 {
    color: #0011ae;
}
